.container {
  max-width: 500px;
}

.paper {
  height: calc(81.3vh - 64px);
  min-width: 70vw;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.paper2 {
  width: 80vw;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.messagesBody {
  width: 100%;
  margin: 10;
  overflow-y: scroll;
  height: calc(100% - 50px);
}
